* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
h2 {
  font-size: 20px;
  margin: 1.5rem 1rem;
}
.wrap {
  margin: 1rem 0;
  position: relative;
}
.container {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}
.slider_main {
  width: 400%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.slider_list {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}
.slider_list:nth-of-type(1) {
  background-color: red;
}
.slider_list:nth-of-type(2) {
  background-color: blue;
}
.slider_list:nth-of-type(3) {
  background-color: green;
}
.slider_list:nth-of-type(4) {
  background-color: pink;
}

.btns a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
  font-weight: 700;
}
.btns .prev {
  position: absolute;
  top: 10%;
  left: 3.75%;
  transform: translate(-50%, -50%);
}
.btns .next {
  position: absolute;
  top: 10%;
  right: .5%;
  transform: translate(-50%, -50%);
}
.tabBtns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 2px solid brown;
}
.tabBtns a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #0081cc;
  width: 25%;
  padding: .5rem 0;
  border-right: 1px solid brown;
}
.tabBtns a:last-child{
  border: 0;
}
.tabPrint {
  width: 90%;
  margin: 0 auto;
  /* padding: 1rem 0; */
  position: relative;
  border: 2px solid #fa10cc;
}
.tabPrint p {
  /* display: none; */
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  left: -100%;
  background: #10fa8d;
  transition: all .3s;
}
.acordian {
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.acordian > div {
  width: 25%;
  height: 300px;
  transition: width .3s;
}
.acordian .wid1 {
  background-color: #10fa8d;
}
.acordian .wid2 {
  background-color: #fa10cc;
}
.acordian .wid3 {
  background-color: #333;
}
.acordian .wid4 {
  background-color: rgb(255, 166, 0);
}