* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
ol, ul {
    list-style: none;
}
.hidden {
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    top: -1000%;
    left: -1000%;
    overflow: hidden;
}
.wrap {
    width: 100%;
    overflow: hidden;
}
header {
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}
.wrap .headerLogo {
    background: url(./images/header01.jpg) no-repeat;
    background-size: contain;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
main {
    display: flex;
}
.navZone {
    width: 17.5%;
    border-right: 1px solid #ccc;
    position: relative;
}
footer {
    background-color: #eee;
    text-align: center;
    padding: 15px 0;
}
footer address {
    font-style: normal;
}
.navZone nav {
    padding: 3rem 2rem;
}
.navZone nav h2:nth-of-type(1) {
    background: url(./images/nav01.jpg) no-repeat;
    width: 96px;
    height: 17px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.navZone nav ul {
    margin: 1rem 0;
}
.navZone nav ul li {
    margin: .5rem 0;
    margin-left: .75rem;
}
.navZone nav ul li:nth-of-type(1) a {
    display: block;
    background: url(./images/nav02.jpg) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
    width: 69px;
    height: 15px;
}
.navZone nav ul li:nth-of-type(2) a:nth-of-type(1) {
    display: block;
    background: url(./images/nav03.jpg) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
    width: 68px;
    height: 15px;
}
.navZone nav h2:nth-of-type(2) {
    background: url(./images/nav04.jpg) no-repeat;
    width: 31px;
    height: 17px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.navZone .tagName {
    padding-left: .75rem;
}
.navZone .tagName span {
    margin: .5rem 0;
}
.navZone nav span:nth-of-type(1) {
    display: block;
    background: url(./images/nav05.jpg) no-repeat;
    width: 85px;
    height: 15px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.navZone nav span:nth-of-type(2) {
    display: block;
    background: url(./images/nav06.jpg) no-repeat;
    width: 85px;
    height: 15px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.navZone nav span:nth-of-type(3) {
    display: block;
    background: url(./images/nav07.jpg) no-repeat;
    width: 85px;
    height: 15px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.navZone nav span:nth-of-type(4) {
    display: block;
    background: url(./images/nav08.jpg) no-repeat;
    width: 85px;
    height: 15px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.navBtn {
    display: block;
    background: url(./images/sidebar01.png) no-repeat;
    width: 30px;
    height: 302px;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
    position: absolute;
    top: 40px;
    right: -30px;
}
.contentArea {
    width: 82.5%;
    padding: 1rem 3rem;
    /* margin: 0 auto; */
    margin-bottom: 3rem;
}
.contentArea h3 {
    font-size: 30px;
    margin: 1rem 0;
}
.contentArea .tabMenu {
    border: 2px solid #ccc;
    border-top: 0;
}

.contentArea .tabMenu .tabBtns {
    display: flex;
    background: #eee;
}
.contentArea .tabMenu .tabBtns a.on {
    background: #fff;
    border-bottom: 0;
}
.contentArea .tabMenu .tabBtns a {
    display: block;
    width: 50%;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #ccc;
    padding: .75rem;
    text-indent: -999px;
    color: #fff;
    overflow: hidden;
}

.contentArea .tabMenu .tabBtns a:nth-of-type(1) span {
    display: block;
    background: url(./images/tabFont01.jpg) 50% 50% no-repeat;
}
.contentArea .tabMenu .tabBtns a:nth-of-type(2) span {
    display: block;
    background: url(./images/tabFont02.jpg) 50% 50% no-repeat;
}
.secondWrap {
    background: #fff;
}
.contentArea .tabMenu .blogZone,
.contentArea .tabMenu .storyZone {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
    display: none;
}
.contentArea .tabMenu .blogZone ul li {
    background: #fff;
    max-height: 200px;
    margin: 1rem 0;
    display: flex;
    box-shadow: 2px 3px 8px 0px hsla(0, 0%, 0%, 0.137);
}
.contentArea .tabMenu .blogZone ul li img {
    width: 30%;
}
.contentArea .tabMenu .blogZone ul li dl {
    width: 70%;
    padding: 1.75rem;
    position: relative;
}
.contentArea .tabMenu .blogZone ul li dl dt {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 141);
}
.contentArea .tabMenu .blogZone ul .blog1 dl dt::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(./images/new01.jpg) 50% 50% no-repeat;
    position: absolute;
    right: 8rem;
    top: 2.2rem;
}
.contentArea .tabMenu .blogZone ul .blog1 dl dd,
.contentArea .tabMenu .blogZone ul .blog2 dl dd,
.contentArea .tabMenu .blogZone ul .blog3 dl dd,
.contentArea .tabMenu .blogZone ul .blog4 dl dd,
.contentArea .tabMenu .blogZone ul .blog5 dl dd,
.contentArea .tabMenu .blogZone ul .blog6 dl dd,
.contentArea .tabMenu .blogZone ul .blog7 dl dd,
.contentArea .tabMenu .blogZone ul .blog8 dl dd {
    margin: 10px 0;
    color: #ccc;
    position: relative;
}
.contentArea .tabMenu .blogZone ul .blog1 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog2 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog3 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog4 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog5 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog6 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog7 dl dd:nth-of-type(1) span,
.contentArea .tabMenu .blogZone ul .blog8 dl dd:nth-of-type(1) span {
    display: inline-block;
    margin-left: .75rem;
    padding-left: .75rem;
    border-left: 2px solid #ccc;
}
.contentArea .tabMenu .blogZone ul .blog1 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog3 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog4 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog5 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog6 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog7 dl dd:last-child,
.contentArea .tabMenu .blogZone ul .blog8 dl dd:last-child {
    position: absolute;
    bottom: 10px;
}
.contentArea .tabMenu .blogZone ul .blog1 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog3 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog4 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog5 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog6 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog7 dl dd:last-child span,
.contentArea .tabMenu .blogZone ul .blog8 dl dd:last-child span {
    display: inline-block;
    background: #ccc;
    border-radius: 5px;
    color: #fff;
    padding: 3px 10px;
    margin-top: 7px;
    margin-right: 10px;
    font-size: 14px;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dt{
    white-space:normal;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child span:nth-of-type(4),
.contentArea .tabMenu .blogZone ul .blog8 dl dd:last-child span:nth-of-type(4){
    background: #92bab1;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child span:nth-of-type(5){
    background: #a0a2db;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child span:nth-of-type(6),
.contentArea .tabMenu .blogZone ul .blog8 dl dd:last-child span:nth-of-type(5){
    background: #cac85f;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dd:last-child span:nth-of-type(7),
.contentArea .tabMenu .blogZone ul .blog5 dl dd:last-child span:nth-of-type(4){
    background: #9c7b7b;
}
.contentArea .tabMenu .blogZone ul .blog2 dl dt::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(./images/hot01.jpg) 50% 50% no-repeat;
    position: absolute;
    right: 1.25rem;
    top: 2.2rem;
}
.storyZone h4 {
    font-size: 24px;
    margin: .5rem 0;
    text-indent: -999px;
    overflow: hidden;
    color: #fff;
}
.storyZone h4 {
    background: url(./images/bestFont.jpg) no-repeat;
}
.middlePart h4 {
    background: url(./images/rankingFont.jpg) no-repeat;
}
.newZone h4 {
    background: url(./images/newFont.jpg) no-repeat;
}
.bestZone {
    display: flex;
    flex-direction: column;
}
.bestZone ul {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.bestZone ul li {
    overflow: hidden;
    position: relative;
}
.bestZone ul li img {
    width: 100%;
}
.bestZone ul li:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
.bestZone ul li:nth-of-type(2){
    grid-column: 3/4;
}
.bestZone ul li:nth-of-type(3){
    grid-column: 4/5;
}
.bestZone ul li:nth-of-type(4){
    grid-column: 3/4;
    grid-row: 2/3;
}
.bestZone ul li:nth-of-type(5){
    grid-column: 4/5;
    grid-row: 2/3;
}
.bestZone ul li span {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5rem;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 1rem 1rem;
    box-sizing: border-box;
    font-size: .85rem;
}
.middlePart {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.middlePart .rankZone {
    width: 48%;
}
.middlePart .rankZone ol {
    padding: 0;
    box-sizing: border-box;
    box-shadow: 2px 3px 8px 0px hsla(0, 0%, 0%, 0.137);
}
.middlePart .rankZone ol li {
    width: 100%;
    padding: .46rem 0;
    padding-left: 2.25rem;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
}
.middlePart .rankZone ol li:nth-of-type(1)::before {
    content: "1";
    position: absolute;
    top: 7px;
    left: 12px;
}
.middlePart .rankZone ol li:nth-of-type(2)::before {
    content: "2";
    position: absolute;
    top: 7px;
    left: 12px;
}
.middlePart .rankZone ol li:nth-of-type(3)::before {
    content: "3";
    position: absolute;
    top: 7px;
    left: 12px;
}
.middlePart .rankZone ol li:nth-of-type(4)::before {
    content: "4";
    position: absolute;
    top: 7px;
    left: 12px;
}
.middlePart .rankZone ol li:nth-of-type(5)::before {
    content: "5";
    position: absolute;
    top: 7px;
    left: 12px;
}
.middlePart .rankZone ol li span {
    display: block;
    padding-left: 10px;
    position: relative;
    top: 5px;
}
.middlePart .rankZone ol li:nth-of-type(1) span {
    float: right;
    /* display: inline-block; */
    width: 83px;
    height: 13px;
    background: url(./images/star01.jpg) no-repeat;
}
.middlePart .rankZone ol li:nth-of-type(2) span {
    float: right;
    /* display: inline-block; */
    width: 83px;
    height: 13px;
    background: url(./images/star02.jpg) no-repeat;
}
.middlePart .rankZone ol li:nth-of-type(3) span {
    float: right;
    /* display: inline-block; */
    width: 83px;
    height: 13px;
    background: url(./images/star03.jpg) no-repeat;
}
.middlePart .rankZone ol li:nth-of-type(4) span {
    float: right;
    /* display: inline-block; */
    width: 83px;
    height: 13px;
    background: url(./images/star04.jpg) no-repeat;
}
.middlePart .rankZone ol li:nth-of-type(5) span {
    float: right;
    /* display: inline-block; */
    width: 83px;
    height: 13px;
    background: url(./images/star05.jpg) no-repeat;
}
.middlePart .newZone {
    width: 48%;
    position: relative;
}
.middlePart .newZone .newZoneBigBox::before {
    content: "#국내여행블로그";
    display: block;
    position: absolute;
    top: .75rem;
    left: 1rem;
    color: #999;
}
.middlePart .newZone .newZoneBigBox::after {
    content: "#100만방문자";
    display: block;
    position: absolute;
    bottom: 4.35rem;
    left: 1rem;
    color: #999;
}
.middlePart .newZone .newZoneBigBox {
    padding: 1rem;
    box-shadow: 2px 3px 8px 0px hsla(0, 0%, 0%, 0.137);
    box-sizing: border-box;
    position: relative;
}
.middlePart .newZone .firstUl {
    width: 88%;
    margin: 0 auto;
    overflow: hidden;
}
.middlePart .newZone .firstUl .move1 {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    transition: transform .075s;
}
.middlePart .newZone .firstUl ul {
    padding: 2rem 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
}
.middlePart .newZone .firstUl ul li {
    width: 20%;
    text-align: center;
}
.middlePart .newZone .newZoneBigBox span:nth-of-type(1) {
    position: absolute;
    top: 57px;
    left: 17px;
    font-weight: bold;
    cursor: pointer;
}
.middlePart .newZone .newZoneBigBox span:nth-of-type(2) {
    position: absolute;
    top: 57px;
    right: 13px;
    font-weight: bold;
    cursor: pointer;
}
.middlePart .newZone .secondUl {
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
}
.middlePart .newZone .secondUl .move2 {
    display: flex;
    gap: .5rem;
    width: 200%;
    transition: transform .075s;
}
.middlePart .newZone .secondUl ul{
    display: flex;
    gap: 0.5rem;
}
.middlePart .newZone .secondUl ul li {
    display: flex;
    width: 50%;
}
.middlePart .newZone .secondUl ul li p {
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
}
.middlePart .newZone .newZoneBigBox span:nth-of-type(3) {
    position: absolute;
    top: 145px;
    left: 17px;
    font-weight: bold;
    cursor: pointer;
}
.middlePart .newZone .newZoneBigBox span:nth-of-type(4) {
    position: absolute;
    top: 145px;
    right: 13px;
    font-weight: bold;
    cursor: pointer;
}
.lastZone {
    overflow: hidden;
    position: relative;
}
.lastSlide {
    width: 350%;
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    overflow: hidden;
    position: relative;
    transform: translateX(-10.4%);
    transition: transform .07s;
}
.lastZone > a {
    display: block;
    position: absolute;
}
.lastZone > a:nth-of-type(1){
    top: 45%;
    left: 19%;
}
.lastZone > a:nth-of-type(2){
    top: 45%;
    left: 78%;
}
.lastSlide ul {
    gap: 1rem;
    display: flex;
}
.lastSlide ul li {
    width: 33.33%;
    overflow: hidden;
}
.lastSlide ul li a {
    display: block;
}
.lastSlide ul li a img {
    width: 100%;
}