.App {
  text-align: center;
}

.App-logo {
  width: 70px;
  height: 70px;
  pointer-events: none;
  /* height: 40vmin; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  border-bottom: 1px solid #61dafb;
  padding: 0 0 1rem 0;
}

.boardHeader {
  display: flex;
  width: 80%;
  margin: 0 auto;
  list-style: none;
  background-color: #ccc;
  border-bottom: 2px solid #fff;
}
.boardHeader li {
  /* width: 33.33%; */
  padding: 7px 0;
  color: #333;
  font-weight: 700;
  border-right: 1px solid #333;
}
.boardHeader li:nth-child(1){
  width: 15%;
}
.boardHeader li:nth-child(2){
  width: 60%;
}
.boardHeader li:last-child{
  border-right: none;
  width: 25%;
}

.boardlist {
  width: 80%;
  margin: 0 auto;
  background-color: #aaa;
  list-style: none;
}
.boardlist li {
  display: flex;
  width: auto;
  border-bottom: 1px solid #333;
}
.boardlist li p {
  /* width: 33.33%; */
  border-right: 1px solid #333;
  font-size: 14px;
  color: darkblue;
  padding: 1rem 0;
}
.boardlist li p:nth-child(1){
  width: 15%;
}
.boardlist li p:nth-child(2){
  width: 60%;
}
.boardlist li p:last-child{
  border-right: none;
  width: 25%;
}

.writeZone {
  text-align: start;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.writeZone > label {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
  padding: 5px 0;
}
.writeZone > label > span {
  color: #333;
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}
.writeZone > input {
  display: block;
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  outline: 0;
}
.writeZone > button {
  float: right;
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 100px;
  height: 15px;
  line-height: 0;
  border: 0;
  background-color: #61dafb;
}