.App {
  text-align: center;
}

.App-logo {
  width: 70px;
  height: 70px;
  pointer-events: none;
  /* height: 40vmin; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  border-bottom: 1px solid #61dafb;
  padding: 0 0 1rem 0;
}

.boardlist {
  width: 100%;
  list-style: none;
}
.boardlist li {
  width: 50%;
  border: 2px solid #61dafb;
  margin: 1rem auto;
  padding: 1rem 0;
  box-sizing: border-box;
  background: #111;
}
.boardlist li p:nth-child(1) {
  text-align: start;
  font-weight: 700;
  font-size: 1.25rem;
  color: yellow;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.boardlist li p {
  margin: 5px 0;
  text-align: start;
  padding-left: 3.25rem;
}