.App {
  text-align: center;
}
.App .firstList {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 0;
  box-sizing: border-box;
  border: 2px solid orange;
}
.App .firstList li {
  margin: 20px 0;
}
.App .firstList button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: .65rem .5rem;
  border: 4px solid rgb(255, 255, 0);
  border-style: double;
  background: black;
  outline: none;
}
.App .callApi {
  margin-top: 2rem;
}
.App .callApi p {
  margin: 1rem 0;
}