/* App.tsx */
.contentArea {
    display: flex;
    height: 700px;
    overflow: hidden;
}

/* Router.tsx */
.routingZone {
    width: 100%;
    padding: 1.5rem;
}

/* Login.tsx */
.loginDiv {
    width: 45%;
    margin: 0 auto;
    padding: 1.25rem;
    box-shadow: 5px 15px 50px 0px rgba(0, 0, 0, .2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loginDiv > h1 {
    margin-bottom: 1rem;
}
.loginDiv > form {
    width: 100%;
    overflow: hidden;
}
.loginDiv > form > input {
    display: block;
    height: 30px;
    font-size: 16px;
    width: 100%;
    margin: .25rem 0;
    padding-left: 5px;
    outline: 0;
    box-sizing: border-box;
}
.loginDiv > form > button {
    width: 100%;
    padding: .55rem 0;
    border: none;
    background: #0081cc;
    color: #fff;
    cursor: pointer;
}
.loginDiv > form > button:hover {
    background: #ccc;
    color: #333;
    transition: all .3s;
}

/* Header.tsx */
.headerArea {
    width: 100%;
    padding: 1rem 0;
    padding-left: 5px;
    padding-right: 20px;
    background: #192145;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.headerArea > img {
    width: 70px;
    height: 40px;
}
.headerArea > button {
    width: 40px;
}

/* Navbar.tsx */
nav {
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, .55);
}
nav > ul > li > a {
    display: block;
    padding: 1rem;
    font-size: 1.125rem;
    color: #fff;
    border-bottom: 1px solid #fff;
}
nav > ul > li > a:hover {
    background: #fff;
    color: #333;
    font-weight: bold;
}
nav > ul > li > ul {
    background: #002a43;
}
nav > ul > li > ul > li > a {
    display: block;
    padding: .5rem;
    padding-left: 1.5rem;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* Home.tsx */
.homePage {
    width: 100%;
}
.main {
    width: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    border: 2px solid #333;
}

.tableMain {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
}
.tableMain > tbody > tr {
    border-bottom: 1px solid #ddd;
}
.tableMain > tbody > tr > th {
    padding: .35rem 0;
    background: #ccc;
}
.tableMain > tbody > tr > td {
    padding-left: 10px;
}
.main > form > .btnZone {
    margin-top: .75rem;
    text-align: end;
}
.main > form > .btnZone > .submitBtn {
    width: 150px;
    height: 30px;
}