// reset
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #333;
}

ol,
ul {
  list-style: none;
}

// main
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: beige;
  box-sizing: border-box;
  //   flex-direction: column;
  //   justify-content: center;

  .calendar_wrap {
    width: 500px;
    height: 500px;
    border: 3px solid #333;
    margin: 0 auto;

    .calendar_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      box-sizing: border-box;

      .calendar_date {
        display: flex;
        gap: 7px;
        align-items: center;
        > h3 {
          font-size: 24px;
        }
        > p {
          font-size: 18px;
        }
      }
      .calendar_month_change {
        display: flex;
        gap: 10px;

        > button {
          display: block;
          outline: 0;
          width: 30px;
          height: 30px;
          border: 0;
          border-radius: 15px;
          background: #333;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background: #aaa;
          }
        }
      }
    }

    .calendar_days {
      display: flex;
      width: 100%;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      background: #ffaa85;

      > div {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: #333;
        border-right: 2px solid #333;
        padding: 12px 0;

        &:nth-last-child(1) {
          border: 0;
        }

        &.holiday {
          color: red;
        }
      }
    }

    .calendar_body {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      > p {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 15px;
        background: #ffda97;
        box-sizing: border-box;

        &.current_date {
          background: red;
          color: #fff;
        }
      }
    }
  }
}
