doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title ZOOM
    body 
        header
            h1 ZOOM
        main
            //- playsinline -> 모바일에서 카메라 사용시 전체화면이 안돼게 해줌
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height='400')
                button#mute Mute
                button#camera Turn Camera Off
                select#cameras
                    option(value="device") Face Camera
            //- div#welcome
            //-     form#name
            //-         input(type="text" placeholder="Nick name" required)
            //-         button Save
            //-     form#roomName
            //-         input(type="text" placeholder="Room name" required)
            //-         button Enter Room
            //-     h4 Open Rooms:
            //-     ul
            //- div#room
            //-     h3
            //-     ul
            //-     form#msg
            //-         input(type="text" placeholder="Send your message" required)
            //-         button Send
        
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 