doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title ZOOM
    body 
        header
            h1 ZOOM
        main
            div#welcome
                form#name
                    input(type="text" placeholder="Nick name" required)
                    button Save
                form#roomName
                    input(type="text" placeholder="Room name" required)
                    button Enter Room
            div#room
                h3
                ul
                form#msg
                    input(type="text" placeholder="Send your message" required)
                    button Send
        
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 